/*a comment for serious business*/

body {
    margin: 0 auto;
    font-size:20px;
}

.mega__wrapper {
    width: 70%;
    margin: 0 auto;
    background: rgb(242, 242, 242);
    overflow: auto;
}

.main__head {
    display: flex;
    justify-content: space-between;
    overflow: auto;
    align-items: center;
}

.main__head > picture {
    margin-top: 30px;
    margin-left: 100px;
}

.logo {
    width: 50px;
    height: 50px;
}

.head__person {
    margin-top: 30px;
    margin-right: 50px;
}

.name {
    font-weight: 700;
    text-decoration: underline;
    text-decoration-color: #02b3e4;
}

.desc {
    font-weight: 300;
    text-decoration: line-through;
    color: darkgrey;
}

.main__image > picture > img{
    box-shadow: 0 10px 8px #888;
    width:100%;
}

.main__img {
    width: 100%;
}
.main__text{
    text-align: center;
    font: 30px italic;
    text-shadow: 4px 4px #02b3e4;
    width: 70%;
    margin: 50px auto;
}
.projects__wrapper {
    width: 90%;
    margin: 0 auto 100px;
}

.featured__wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    flex-wrap: wrap;
    flex-shrink: 1;
}

.featured__item {
    width: 30%;
    text-align: center;
}

.featured__image > img {
    width: 100%;
    border-radius:30px;
}

.featured__name {
    text-transform: uppercase;
}

.featured__link {
    text-decoration: overline ;
    text-decoration-color: #02b3e4;
    color: black;
    font-size: 20px;
}

.footer__content {
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
    color: white;
    background-color: black;
}

@media only screen and (max-width:767px){
    .mega__wrapper{
        width:95%;
    }
    .logo {
        width: 40px;
        height: 40px;
    }
    .main__text{
        font-size:30px;
    }
    .main__head > picture {
        margin-top: 25px;
        margin-left: 40px;
    }
    .head__person{
        margin-right: 25px;
        margin-top: 40px;
    }
    .projects__wrapper {
        text-align: center;
    }

    .featured {
        font-size: 30px;
    }

    .featured__wrapper {
        flex-direction: column;
    }

    .featured__item {
        width: 50%;
    }
    .footer_text{
        font-size:40px;
    }

}


@media only screen and (max-width:425px){
    .mega__wrapper{
        width:100%;
    }

    .logo {
        width: 20px;
        height: 20px;
    }
    .name,
    .desc{
        font-size: 20px;
    }

    .main__image > picture > img{
        width:100%;
    }
    .main__head > picture {
        margin-top: 10px;
        margin-left: 15px;
    }
    .head__person{
        margin-right:15px;
        margin-top:10px;
    }
    .main__text{
        font-size:18px;
    }
    .projects__text{
        font-size:80px;
        display: block;
    }
    .featured {
        font-size: 30px;
    }

    .featured__item {
        width: 80%;
        font-size: 20px;
        margin-bottom: 50px;
    }

    .footer_text{
        font-size:30px;
    }
}